/* by below code will operate div through parent container */

.container1{
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
}
.container1 div{
  width: 100px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray; 
}


/* making one box in the center and making text with box to be in center */
.container2 {
  width: 100px;
  height: 100px;
  border: 1px solid gray; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}